@model AppUserRegisterDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h3>Kayıt ol</h3>

<hr />
<form asp-action="Index">
    <table>
        <tr>
            <td colspan="3"><div asp-validation-summary="ModelOnly"></div></td>
        </tr>
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><input asp-for="Name" /></td>
            <td><span asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Surname"></label></td>
            <td><input asp-for="Surname" /></td>
            <td><span asp-validation-for="Surname"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" /></td>
            <td><span asp-validation-for="Email"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td><input asp-for="Password" /></td>
            <td><span asp-validation-for="Password"></span></td>
        </tr>
        <tr>
            <td><label asp-for="ConfirmPassword"></label></td>
            <td><input asp-for="ConfirmPassword" /></td>
            <td><span asp-validation-for="ConfirmPassword"></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Kayıt ol" /></td>
        </tr>
    </table>
</form>